body {
    display: flex;
    justify-content: center;
}

div {
    width: 500px;
    height: 500px;
    margin: 250px;
}

@keyframes monAnimation {
    0% { transform: rotate(0);}
    20% { transform: rotate(360deg); background-color: red;}
    40% { transform: rotate(-360deg); background-color: blue;}
    50% { transform: rotate(360deg); background-color: green;}
    60% { transform: rotate(-360deg); background-color: purple;}
    70% { transform: rotate(360deg); background-color: yellow;}
    90% { transform: rotate(-360deg); background-color: black;}
    100% { transform: rotate(360deg); background-color: pink;}
}

div:hover {
    animation: 3s linear 0s infinite monAnimation;
}


