img:hover {
    zoom: 1.1;
}

div {
    width: 800px;
}

img {
    display: flex;
    justify-self: center;
}

@keyframes monAnimation {
    0% { transform: rotate(0); }
    20% { transform: rotate(360deg); opacity: 0; }
    40% { transform: translateY(500px); opacity: 1; background-color: red;}
    50% { transform: translateX(500px); scale: 0.2;}
    60% { transform: rotate(-360deg); scale: 1.3;}
    85% { transform: translateY(500px); background-color: yellowgreen;}
    100% { transform: rotate(180deg); scale: 0.1;}
}

div:hover {
    animation: 8s linear 0s infinite monAnimation;
}


