header {
    background: linear-gradient(90deg,rgba(91, 142, 220, 1) 0%, rgba(36, 74, 135, 1) 100%);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo, a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    column-gap: 50px;
}

.hero {
    background: linear-gradient(152deg,rgba(97, 200, 255, 1) 10%, rgba(53, 105, 148, 1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 150px 200px;
    margin-bottom: 80px;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

h1 + p {
    display: flex;
    justify-content: center;
    width: 500px;
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    background: linear-gradient(90deg,rgba(212, 171, 70, 1) 0%, rgba(252, 211, 96, 1) 50%, rgba(212, 171, 70, 1) 100%);
    border-radius: 40%;
    padding: 10px;
    border: none;
    margin: 40px;
}

button:hover {
    color: rgba(252, 211, 96, 1);
    background: black;
}

.titre1 {
    width: 500px;
    margin: auto;
    color: #1269B0;
    text-align: center;
}

.themes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 100px 600px;
}

.themes-grid div {
    padding: 20px;
    margin: 20px;
    box-shadow: lightgray 2px 2px 4px;
    border-radius: 4%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.themes-grid div:hover {
    box-shadow: none;
}

img {
    width: 250px;
    border-radius: 10%;
}

h2 + p {
    width: 500px;
}

.about {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img:last-child {
    width: 500px
}

h2 {
    color: #1269B0;
}

h3 {
    color: rgba(97, 200, 255, 1);
}

footer {
    background-color: #1269B0;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 + p {
    text-align: center;
}

.logo, h1, h2, h3, p, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

