h1 {
    color: blue;
}

h1:hover {
    color: green;
}

p:active {
    background-color: lightgray;
}

a {
    color: orange;
}

a:visited {
    color: lightgray;
}

img:hover {
    display: none;
    opacity: 0%;
}